@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "Landing Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros Apresentados</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>
    <main>
        <h1>Welcome to Our Bookstore</h1>
        <p>Here you can find a selection of books that we have available for you.</p>
        <section class="books-section">
            <div class="book-container">
                @foreach (var livro in Model)
                {
                    <div class="book">
                        <a asp-controller="Bc" asp-action="Details" asp-route-id="@livro.Id">
                            <img src="@livro.Image" alt="@livro.Title">
                            <p><strong>Título:</strong> @livro.Title</p>
                            <p><strong>Autor:</strong> @livro.Publisher</p>
                            <p><strong>Preço:</strong> €@livro.Price</p>
                        </a>
                        <button>Comprar já</button>
                    </div>
                }
            </div>
        </section>
    </main>
</body>
</html>
