@model BookStore.Models.indexviewmodel

@{
    ViewData["Title"] = "Landing Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books presented</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="text" name="search" value="@Model.Search" placeholder="Search for books..." />
        <button type="submit">Search</button>
    </form>
    <main>
        <h1>Welcome to Our Bookstore</h1>
        <p>Here you can find a selection of books that we have available for you!</p>
        <section class="books-section">
            <div class="book-container">
                @if (Model.Books != null)
                {
                    @foreach (var livro in Model.Books)
                    {
                        <div class="book">
                            <a asp-controller="Bc" asp-action="Details" asp-route-id="@livro.Id">
                                <img src="@livro.Image" alt="@livro.Title">
                                <p><strong>Título:</strong> @livro.Title</p>
                                <p><strong>Autor:</strong> @livro.Publisher</p>
                                <p><strong>Preço:</strong> €@livro.Price</p>
                            </a>
                            <a asp-controller="Home" asp-action="Orders" asp-route-id=@livro.Id>
                                <button type="submit">Buy Now</button>
                            </a>
                        </div>
                    }
                }
            </div>
        </section>
    </main>
</body>
</html>
